<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="css/spectre.css">
    <link rel="stylesheet" href="css/spectre-icons.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
